body {
  color: #333;
  font-family: Roboto, Arial, Helvetica, sans-serif; }

.menu {
  position: fixed;
  right: 0;
  top: 20px;
  z-index: 99999; }
  .menu ul li {
    background: #AE9B54;
    padding: 0 10px 0 10px;
    float: right;
    clear: right;
    margin-bottom: 10px;
    font-family: "Playfair Display", Times, "Times New Roman", serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 900;
    color: white;
    transition: 0.5s; }
    .menu ul li:hover {
      opacity: 1;
      padding: 0 15px 0 10px;
      transition: 0.5s;
      cursor: pointer; }
    .menu ul li a {
      color: white; }

header {
  display: table;
  width: 100%;
  height: 95%;
  color: #AE9B54; }
  header .hola {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 99; }
    header .hola h1 {
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 300;
      margin: 0;
      background-color: #AE9B54;
      display: inline-block;
      color: black;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      padding: 2px 2px; }
    header .hola ul {
      margin-top: 20px;
      padding: 0; }
      header .hola ul li {
        display: inline-block;
        margin: 20px; }
        header .hola ul li a {
          display: inline-block;
          height: 40px;
          width: 40px;
          background: #AE9B54;
          border-radius: 50%;
          transition: 0.5s;
          color: white; }
          header .hola ul li a:hover {
            background: white;
            transition: 0.5s;
            transform: scale(1.1, 1.1);
            color: #AE9B54; }
          header .hola ul li a span {
            font-size: 23px;
            line-height: 0px;
            position: relative;
            top: 10px; }
    header .hola .next {
      position: absolute;
      bottom: 40px; }

h2 {
  font-family: "Playfair Display", Times, "Times New Roman", serif;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -1px;
  font-size: 40px;
  margin: 0; }

h1 {
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: 100;
  margin: 0; }

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover; }

.skills {
  background: #AE9B54;
  color: #333;
  padding: 50px 0;
  overflow: hidden; }
  .skills h2 {
    margin-bottom: 50px;
    position: absolute;
    color: white;
    font-size: 380px;
    margin-top: -100px;
    opacity: 0.1;
    letter-spacing: -28px;
    /*		&:after{
    			position: absolute;
    			content: "";
    			width: 100%;
    			height: 1px;
    			border-top: 1px solid #666;
    			transform: rotate(30deg);
    		}*/ }
    .skills h2:before {
      content: "*";
      margin-right: 10px;
      position: relative;
      top: 10px; }
  .skills h3 {
    font-family: "Playfair Display", Times, "Times New Roman", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 22px;
    color: white; }
  .skills ul {
    list-style: none;
    padding: 0;
    font-weight: 300; }
    .skills ul li {
      background-color: white;
      display: inline-block;
      padding: 0 5px;
      margin: 5px;
      border-radius: 4px; }
  .skills span {
    margin-right: 20px; }

section h2 {
  margin-bottom: 20px; }

.works {
  padding: 50px 0;
  background: white; }
  .works h2 {
    color: #333; }
    .works h2:before {
      content: "*";
      margin-right: 10px;
      position: relative;
      top: 10px; }
  .works .work {
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #AE9B54;
    min-height: 210px; }
    .works .work .fecha {
      display: block;
      font-size: 12px; }
    .works .work h3 {
      font-family: "Playfair Display", Times, "Times New Roman", serif;
      font-size: 22px;
      font-weight: 900;
      font-style: italic;
      color: #AE9B54;
      margin: 5px 0 00; }
    .works .work h5 {
      font-size: 14px;
      font-weight: 300;
      margin: 5px 0; }
    .works .work ul {
      padding: 0;
      color: #666; }
      .works .work ul li {
        font-size: 12px;
        list-style: none;
        font-weight: 300; }
    .works .work a {
      font-size: 11px;
      color: #666;
      letter-spacing: 1px;
      font-weight: 300;
      transition: 0.5s;
      /*
      			&:after{
      				content: " > ";
      				width: 15px;
      				height: 15px;
      				border-radius:50%;
      				background: $dorado;
      				color: white;
      			}
      */ }
      .works .work a:hover {
        background-color: #AE9B54;
        color: white;
        text-decoration: none;
        transition: 0.5s; }

.estudios {
  background: #333;
  padding: 50px 0;
  color: white; }
  .estudios h2 {
    color: white; }
    .estudios h2:before {
      content: "*";
      margin-right: 10px;
      position: relative;
      top: 10px; }
  .estudios .estudio {
    margin-bottom: 30px; }
    .estudios .estudio .fecha {
      display: block;
      font-size: 12px; }
    .estudios .estudio h3 {
      font-family: "Playfair Display", Times, "Times New Roman", serif;
      font-size: 22px;
      font-weight: 900;
      font-style: italic;
      color: #AE9B54;
      margin: 5px 0 00; }
    .estudios .estudio h5 {
      font-size: 14px;
      font-weight: 300;
      margin: 5px 0; }

.portfolio {
  min-height: 700px;
  background: #AE9B54; }

.contacto {
  min-height: 700px;
  background: #333; }

.next {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 3px solid #AE9B54;
  background: none;
  border-radius: 50%;
  transition: 0.5s; }
  .next:after {
    content: "";
    width: 52%;
    height: 40%;
    border-top: 3px solid #AE9B54;
    border-left: 3px solid #AE9B54;
    transform: rotate(225deg);
    display: inline-block;
    top: -1px;
    position: relative;
    transition: 0.5s; }
  .next:hover {
    background: #AE9B54;
    transition: 0.5s; }
    .next:hover:after {
      border-top: 3px solid black;
      border-left: 3px solid black;
      transition: 0.5s; }

/*# sourceMappingURL=style.css.map */
